server:
  port: '@server.port@'

management:
  security:
    flag: false
  server:
    port: '@management.port@'
  metrics:
    export:
      statsd:
        flavor: etsy
        enabled: false
      prometheus:
        enabled: false
  endpoint:
    health:
      show-details: always
    metrics:
      enabled: true
    prometheus:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health,info,prometheus

spring:
  application:
    name: '@project.name@'
  output:
    ansi:
      enabled: always
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: org.postgresql.Driver
    url: '@db.url@'
    username: '@db.user@'
    password: '@db.password@'
    hikari:
      idle-timeout: 30000
      maximum-pool-size: 10
    flyway:
      table: schema_version
      schemas: pm

info:
  version: '@project.version@'
  stage: dev

retry-policy:
  maxAttempts: 10

service:
  shumway:
    url: http://localhost:8022/shumpune
    networkTimeout: 5000
  partyManagement:
    url: http://hellgate:8022/v1/processing/partymgmt
    networkTimeout: 5000

kafka:
  bootstrap-servers: "localhost:29092"
  ssl:
    enabled: false
    key-store-type: changeit
    key-store-location: changeit
    key-password: changeit
    trust-store-type: changeit
    trust-store-location: changeit
    trust-store-password: changeit
  topic:
    pm-events-payout:
      name: pm-events-payout
      produce:
        enabled: false
